<div>
  <h1 class="font-bold text-2xl text-gray-700">TRANSFERS</h1>
  <div class="w-full my-5 flex">
    <div class="float-left w-7/12">
      <label
        for="default-search"
        class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white"
        >Search</label
      >
      <div class="relative">
        <div
          class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none"
        >
          <svg
            aria-hidden="true"
            class="w-5 h-5 text-gray-500 dark:text-gray-400"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
            ></path>
          </svg>
        </div>
        <input
          type="search"
          id="default-search"
          [(ngModel)]="reference"
          class="block w-full p-4 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500"
          placeholder="Reference"
          required
        />
        <button
          (click)="search()"
          (change)="search()"
          class="text-white absolute right-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded text-sm px-4 py-2"
        >
          Search
        </button>
      </div>
    </div>
  </div>

  <div class="mt-10">
    <div class="overflow-x-auto relative">
      <table class="w-full text-sm text-left text-gray-500">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50">
          <tr>
            <th scope="col" class="py-3 px-6">Id</th>
            <th scope="col" class="py-3 px-6">Client Id</th>
            <th scope="col" class="py-3 px-6">Status</th>
            <th scope="col" class="py-3 px-6">Bénéficiaire</th>
            <th scope="col" class="py-3 px-6">Montant</th>
            <th scope="col" class="py-3 px-6">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr
            class="bg-white border-b"
            *ngFor="let transfer of transfers; let i = index"
          >
            <th
              scope="row"
              class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap"
            >
              {{ transfer._id }}
            </th>
            <th
              scope="row"
              class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap"
            >
              {{ transfer.clientFullName }}
            </th>
            <td class="py-4 px-6">{{ transfer.status }}</td>
            <td class="py-4 px-6">{{ transfer.beneficiaryFirstName }}</td>
            <td class="py-4 px-6">{{ transfer.totalAmount }}</td>
            <td class="py-4 px-6 gap-2">
              <button
                *ngIf="transfer.status !== 'blocked'"
                (click)="blockTransfer(transfer)"
                class="rounded bg-red-400 text-white text-center border px-4 py-2 hover:shadow-md"
              >
                Block
              </button>
              <button
                *ngIf="
                  transfer.status !== 'unlock to serve' &&
                  transfer.status !== 'to serve'
                "
                (click)="unblockTransfer(transfer)"
                class="rounded bg-green-400 text-white text-center border px-4 py-2 hover:shadow-md"
              >
                UnBlock
              </button>
              <button
                *ngIf="transfer.status !== 'returned'"
                (click)="showReturn(transfer)"
                class="rounded bg-yellow-400 text-white text-center border px-4 py-2 hover:shadow-md"
              >
                Return
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <div
        *ngIf="transfers.length === 0"
        class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap bg-white w-full flex justify-center"
      >
        <div class="text-center italic">
          <span>No transfer found</span>
        </div>
      </div>
    </div>
  </div>
  <div
    class="z-50 fixed w-full h-full top-0 left-0 flex items-center justify-center"
    *ngIf="showReturnModal && transferToReturn"
  >
    <div
      (click)="showReturnModal = false"
      class="absolute w-full h-full back bg-gray-900 opacity-60 modal-overlay"
    ></div>

    <div
      class="z-50 w-11/12 mx-auto overflow-y-auto bg-white rounded-lg shadow-2xl modal-container md:max-w-2xl px-10 py-10"
    >
      <h2 class="text-xl font-bold">
        Return Transfer {{ transferToReturn.reference }}
      </h2>

      <div class="flex flex-col my-10">
        <label for="raison">Raison *</label>
        <input
          class="w-full py-3 px-2 my-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 focus:border-primary rounded-md appearance-none focus:bg-white focus:placeholder-gray-600 focus:text-gray-700 focus:outline-none"
          type="text"
          name="raison"
          [(ngModel)]="raison"
          id="team"
          placeholder="Raison"
          (change)="resetErrors()"
        />
        <small class="text-red-500 italic" *ngIf="errors.raison != ''">{{
          errors.raison
        }}</small>
      </div>
      <button
        (click)="returnTransfer()"
        class="px-6 py-3 w-full hover:cursor-pointer font-medium tracking-wide text-white bg-opacity-75 bg-yellow-500 rounded-lg hover:bg-opacity-100 focus:outline-none"
      >
        Return
      </button>
    </div>
  </div>
</div>
